image-gallery {

    .image-container{
        border: solid 1px white;
        box-sizing:border-box;
    }

    .test{
        color: black;
    }


    .background-image{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        
    }

    .default-image-icon{
        background-image: url("../assets/images/image-icon.png");
    }

    .image-text-overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba( 0, 0, 0, .65 );
    }

    .image-filename{
        font-size: .8rem;
        font-weight: 600;
        color: white;
        margin: 0;
        padding: .2rem;
        text-align: center;
    }

    .selected-tick{
        background-image: url("../assets/images/selected-icon-white.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: .5rem;
        right: .5rem;
        width: 2rem;
        height: 2rem;
    }
}
